#evaluation-form {
  flex-direction: column;
}

#trybewarts-forms-logo {
  height: 500px;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  height: 50px;
}

.trybewarts-login {
  display: flex;
}

form {
  display: flex;
  width: 675px;
}

main {
  display: flex;
}

#nome-comppleto {
  display: flex;
}

#email-casa-div {
  display: flex;
}