* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  margin: 0;
  padding: 0;
}

#evaluation-form {
  flex-direction: column;
  margin: 0 2vw;
}

#email-casa-container {
  display: flex;
  flex-flow: column;
  height: 25vh;
  width: 670px;
  align-items: center;
  justify-content: space-around;
}

.nome-casa {
  width: 100%;
  justify-content: center;
  align-items: center;
}

#input-name, #input-lastname, #input-email, #house {
  flex-grow: 1;
  margin-right: .5vw;
  height: 5vh;
  border-radius: 5px;
}

#trybewarts-forms-logo {
  height: 500px;
  align-self: flex-end;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  height: 10vh;
  justify-content: space-between;
  color: white;
}

header input {
  height: 5vh;
  margin: 0;
  border-radius: 6px;
}

header button {
  background-color: rgb(65, 65, 102);
  color: white;
  height: 6vh;
  border-radius: 6px;
  border-color: rgb(65, 65, 102);
  width: 5vw;
}

.trybewarts-header-logo {
  margin: 0 1vw;
  padding: 0.5vh 0.5vw;
}

#trybewarts-header-title {
  align-self: center;
  margin-left: 10vw;
}

.trybewarts-login {
  display: flex;
  flex-flow: row nowrap;
  justify-content: end;
  margin: 2vh 1vw;
}

.trybewarts-login input {
  margin: 0 10px;
}

.flex-container {
  display: flex;
  flex-flow: row nowrap;
}

form {
  display: flex;
  width: 675px;
  align-items: center;
}

main {
  height: 80vh;
  display: flex;
  flex-flow: row nowrap;
}

hr {
  margin-top: 2vh;
  margin-bottom: 2vh;
  width: 670px;
  color: rgb(163, 163, 163);
}

#section-meio {
  display: flex;
  align-items: space-between;
  flex-flow: row wrap;
  height: 30vh;
}

#familias {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
}

#webdev-content-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  margin-left: 2vw;
}

#webdev-content {
  display: flex;
  flex-flow: row wrap;
  width: 200px;
  height: 60px;
  justify-content: space-between;
  align-content: space-between;
  align-self: center;
}

#rate-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 670px;
}

#text-area-container {
  display: flex;
  flex-flow: column nowrap;
  width: 670px;
  margin-top: 20px;
}

textarea {
  border-radius: 5px;
}

#counter {
  align-self: flex-end;
}

#checkbox-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  width: 670px;
}

#label-infos {
  margin-right: 1vw;
}

#submit-btn {
  background-color: rgb(65, 65, 102);
  color: white;
  height: 5vh;
  border-radius: 6px;
  border-color: rgb(65, 65, 102);
  width: 670px;
}

footer {
  position: absolute;
  top: 95vh;
  margin-top: .6vh;
  width: 100vw;
  height: 4.4vh;
  background-color: rgb(32, 32, 32);
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  margin: 2vh 0;
}